html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #b38136;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
    display: flex;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

article:nth-of-type(1) {
    margin-right: 10px;
}
article:nth-of-type(2) {
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    /*padding-left: 0;*/
}

.nav-item {
    /*display:inline-block;*/
    background-color: #ffb84d;
    padding: 5px;
    margin: 5px;
}

.nav-item:hover {
    background-color: #b38136;
}

a {
    padding: 20px;
    text-decoration: none;
}

a:visited {
    color: black;
}

#newsletter {
    margin-top: 40px;
}

#about {
    border-top: 1px dotted #ccc;
}

#contact {
    border-top: 1px dotted #ccc;
}

[title="main"] {
    color: #888b94
}

button {
    background-color: #ffb84d;
    border: 1px solid #242424;
    border-radius: 1px;
}

button:hover {
    background-color: #b38136;
}

.long-text {
    width: 100%;
}

.navigation {
    background: #888b94;
    padding: 5px;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0%;
    width: 12%;
    margin-bottom: 10px;
}

nav a {
    margin: 5px;
    padding: 5px;
    background-color: #ffb84d;
    border: 1px solid #242424
}

nav a:hover {
    background-color: #b38136;
}

#star {
    float: right;
    background-color: #ffb84d;
    text-align: center;
}

#work {
    float:left;
    background-color: #ffb84d;
    text-align: center;
}

@media (max-width : 400px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px;
        padding: 20px;
        color: #242424;
        border-top: 10px solid #b38136;
        background: #fff;
    }

    h1 {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }

    #blog {
        border-top: 1px dotted #ccc;
        display:block;
    }

    .navigation {
        background: #888b94;
        padding: 5px;
        display: flex;
        justify-content: center;
        position: sticky;
        top:0%;
        width: 100%;
        margin-bottom: 10px;
    }

    .sub {
        text-align: center;
    }

    #star {
        float: none;
        margin: auto;
        width: fit-content;
    }

    #star-pic {
        width:100%;
    }
    
    #work {
        float:none;
        margin: auto;
        width: fit-content;
        
    }

    #work-pic {
        width:100%;
    }

    article:nth-of-type(1) {
        margin-right: 0;
    }
    article:nth-of-type(2) {
        margin-left: 0;
    }

    #headshot {
        margin:auto;
        display: block;
        width: 80%;
    }

    #time {
        overflow-x: auto;
        display: block;
    }

    textarea {
        width: 20em;
    }
}